<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/post.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Single Post</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <a class="navbar-brand" href="#" style="margin-left: 80px;">
      <img src="/public/img/logo.png">
    </a>
    <div class="container">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link text-dark fw-semibold" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-semibold" href="post">Add Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-semibold" href="testimonials">Testimoni</a>
        </li>
      </ul>
      <li id="barsmenu">
        <button
          style="background-color: transparent; border: none; cursor: pointer"
          onclick="openHamburger()"
        >
          <i class="fa-2x fa-solid fa-bars"></i>
        </button>
      </li>
    </div> 
    <div class="contact">
    <a href="contact" id="contact" class="btn bg-danger text-white px-1">Contact Me</a>
  </div>
  </nav>
  <div class="hamburger-nav-container" id="hamburger-nav-container">
    <a href="/">Home</a>
    <a href="post">Add Project</a>
    <a href="contact">Contact</a>
    <a href="testimonials">Testimoni</a>
  </div>

            <center>
            <div class="judul">
                <h1>Dumbways WEB App</h1>
            </div>
            </center>
    <div class="container">
        <div class="kiri">
            <div>
            <img src="/public/img/foto2.jpg" style="object-fit: cover; width: 100%;">
            </div>
        </div>
        <div class="kanan">    
            <div>
                <h3>Duration</h3>
                <div>
                <i class="fa-solid fa-calendar-days"></i> 15 May 2023 - 14 June 2023
                </div>
                <div style="margin-top: 15px;">
                <i class="fa-brands fa-ioxhost"></i> 1 Month
                </div>
                <h3>Technologies</h3>
                    <div style="display: flex;">
                <div>
                <i class="fa-brands fa-react"></i> React JS
                </div>
                <div style="margin-left: 40px;"> 
                <i class="fa-brands fa-node-js"></i> Node JS
                </div>
                    </div>
                    <div style="display: flex">   
                <div style="margin-top: 15px;">
                <i class="fa-brands fa-square-js"></i> JavaScript
                <i class="fa-solid fa-bolt"></i></i> Socket IO
                </div>
                    </div>
            </div>
        </div>    
    </div>
    <center>
    <h1>{{.Title}}</h1>
    <p>{{.Content}}</p>
    </center>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="/public/js/hamburger.js"></script>
</body>
</html>